/* add css module styles here (optional) */

@import 'tailwindcss';
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
.text-sm {
  font-size: 0.75rem;
  line-height: 1rem;
}
